<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
     
    <div class="topnav">
      <a class="active" href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a routerLink="/contactpage"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
      <a routerLink="/signup"><i class="fa fa-fw fa-user"></i>Sign Up</a>
      
    </div>

    
<!-- Header part  -->
<header>
  
  <form [formGroup]="formdata"  (ngSubmit)="BusCheckout(formdata.value)">
  <!-- <div class="p-5 text-center bg-image" 
        style="
        background-image: url('../assets/images/user.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;"> -->

        <div class="p-5 text-center" 
        style="background-color: #6dd8e7;">

    <div class="text-dark">
      <h1 style="color: rgb(115, 115, 234); font-family:Georgia, 'Times New Roman', Times, serif;"><i><b>Travel with us</b></i></h1>
      <h4 style="color: #7689de;">Search your Route</h4>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <span><label class="button">From</label></span>
          <input class="w3-input " type="text" name="routeFrom" placeholder="RouteFrom" formControlName="routeFrom"/>
        </div>
        <div class="w3-half">
          <span><label class="button"><i>To</i></label></span>
          <input class="w3-input " type="text" name="routeTo"  placeholder="RouteTo"  formControlName="routeTo"/>
        </div>
      </div>
      <br><br>
      <button class="btn success">Check Bus</button>
    </div>
  </div>
  </form>
  
</header>


<!-- Footer -->

<footer class="footer">
  <h4>About Us</h4>
  <pre>A bus reservation system is a mobile or web software solution designed to provide customers with a personalized easy-to-utilize user
   experience for booking and purchasing tickets online. It stores customers' personal data records, 
    scheduled routes, frequent trips, drop points, and other information.</pre>
  <br>
    <div class="icons">
    <i class="fa fa-facebook"></i>&nbsp;&nbsp;
    <i class="fa fa-twitter"></i>&nbsp;&nbsp;
    <i class="fa fa-instagram"></i>&nbsp;&nbsp;
    <i class="fa fa-linkedin"></i>
  </div>
  <br>
  <br>
  <br>
  
  <span>
    <ul>
    <li>
  <a class="footer-link" routerLink="/feedbackpage" style="color: black;"><i class="fa fa-fw fa-comments-o"></i>Feedback</a>
  </li>
</ul>
</span> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Made With&nbsp;<i class="fa fa-heart-o"></i>&nbsp;&nbsp;by TEAM 5</p>
</footer> 


<!----javascript Toggle Menu----->
 <script>
  var navLinks = document.getElementById("navLinks");
  function showMenu() {
    navLinks.style.right = "0";
  }
  function hideMenu() {
    navLinks.style.right = "-200px";
  }
</script>
</body>
</html>
