<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="about-us.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="w3-black">

    <div class="about-section" style="background-image:url(../../assets/images/Picture3.jpg);
                                       background-position: center; height: 550px;
                                       background-size: cover;">
        <h1 style="color: black;">About Us</h1>
        <br>
        <p style="font-size: 20px; color: black;">This Web page is all about Bus Booking System. user can booked there
            seat by our application, its
            accessibility too easy and we gave all feature that user need.</p>
        <p style="font-size: 20px; color: black;">We build this application for making easy booking bus seats. And our
            team hope that you all like our
            application.Bus Ticket Booking System is an automated system for purchasing online bus tickets. Adopt your
            own branded website, mobile apps (Android & IOS) and allow your clients to book tickets for different routes
            & destinations. This system keeps the record of passengers' details as per each bus schedule.</p>
    </div>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64 container" id="about">
        <h2 class="w3-text-light-grey">About Ourself</h2>
        <hr style="width:200px" class="w3-opacity ">
        <p style="font-size: 20px;">Some text about me. I am Indrani Dey, employee of Capgemini as a Software
            Analytics.I am completed my
            Graduation in Bachelar of Computer Application. I am interested in Front-end Designing yeah and i have a
            great skill on Web page designing. I am basically use Angular 8 help of HTML, CSS, Bootstrap.
        </p>
        <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
        <p class="w3-wide">Front-end</p>
        <div class="w3-white">
            <div class="w3-dark-grey" style="height:28px;width:95%"></div>
        </div>
        <p class="w3-wide">Web Design</p>
        <div class="w3-white">
            <div class="w3-dark-grey" style="height:28px;width:85%"></div>
        </div>
        <p class="w3-wide">Back-end</p>
        <div class="w3-white">
            <div class="w3-dark-grey" style="height:28px;width:80%"></div>
        </div>
    </div>
    <br>


    <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
        <h2 class="w3-text-light-grey">Contact Me</h2>
        <hr style="width:200px" class="w3-opacity">

        <div class="w3-section">
            <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Nadia, WB</p>
            <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +91 987654323</p>
            <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: itzIndu@mail.com
            </p>
        </div>
        <br>
        <p style="font-size: 28px;">Let's get in touch.</p>
    </div>
    <br>


</body>

</html>