<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<!-- Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/bus.png" width="30" height="30" alt=""><i>&nbsp;Bus India</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buslist">Bus Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservationlist">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/routelist">Route</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">LogIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">SignUp</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown ">
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userlist">User</a>
        </li>
      </ul>
    </div>

  </div>
</nav>



<!-- Header part  -->
<header>
  <form [formGroup]="formdata"  (ngSubmit)="BusCheckout(formdata.value)">
  <div class="p-5 text-center bg-image" style="
        background-image: url('../assets/images/header1.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;">

    <div class="text-dark">
      <h1 class="mb-3">Travel with us</h1>
      <h4 class="mb-3">Search your Route</h4>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <span><label 
              style="color: black; font-size: 22px; background-color: aliceblue; width: 80px; font-family:Arial, Helvetica, sans-serif; border:1px black solid;">From</label></span>
          <input class="w3-input w3-border" type="text" name="routeFrom"  placeholder="Departing from" formControlName="routeFrom"/>
        </div>
        <div class="w3-half">
          <span><label
              style="color: black; font-size: 22px; background-color: aliceblue; width: 80px; font-family:Arial, Helvetica, sans-serif; border:1px black solid;">To</label></span>
          <input class="w3-input w3-border" type="text" name="routeTo"  placeholder="Arriving at" formControlName="routeTo"/>
        </div>
      </div>
      <br><br>
      <button type="submit" value="click here"> click here </button>
     <!-- <p><button (click)="BusCheckout()" class="w3-button w3-dark-grey">Search and find Bus</button></p>  -->
    </div>
  </div>
  </form>
</header>


<!-- Footer -->

<footer class="footer">
  <h4>About Us</h4>
  <pre>A bus reservation system is a mobile or web software solution designed to provide customers with a personalized easy-to-utilize user
   experience for booking and purchasing tickets online. It stores customers' personal data records, 
    scheduled routes, frequent trips, drop points, and other information.</pre>
  <br>
    <div class="icons">
    <i class="fa fa-facebook"></i>&nbsp;&nbsp;
    <i class="fa fa-twitter"></i>&nbsp;&nbsp;
    <i class="fa fa-instagram"></i>&nbsp;&nbsp;
    <i class="fa fa-linkedin"></i>
  </div>
  <br>
  <br>
  <br>
  
  <a class="footer-link" routerLink="/feedbacklist">Feedback</a>
  
  <p>Made With&nbsp;<i class="fa fa-heart-o"></i>&nbsp;by TEAM 5</p>
</footer> 


<!----javascript Toggle Menu----->
 <script>
  var navLinks = document.getElementById("navLinks");
  function showMenu() {
    navLinks.style.right = "0";
  }
  function hideMenu() {
    navLinks.style.right = "-200px";
  }
</script>

</html>