    <div class="alert alert-primary container">
        <h3>Bus List Form</h3>
    </div>
    <form [formGroup]="buslistForm" (ngSubmit)="ShowBusList()">
        <div class="form-group container">
            <label for="busid">Bus id</label>
            <input class="form-control" type="text"  name="busid" id="busid" formControlName="busid">
        </div>
        <div class="form-group container">
            <label for="busname">Bus name</label>
            <input class="form-control" type="text" name="busname" id="busname" formControlName="busname">
        </div>
        <div class="form-group container">
            <label for="driverName">Driver Name</label>
            <input class="form-control" type="text" name="driverName" id="driverName" formControlName="driverName">
        </div>
        <div class="form-group container">
            <label for="busType">BusType</label>
            <input class="form-control" type="text" name="busType" id="busType" formControlName="busType">
        </div>
        <div class="form-group container">
            <label for="arrivalTime">Arrival Time</label>
            <input class="form-control" type="text" name="arrivalTime" id="arrivalTime" formControlName="arrivalTime">
        </div>
        <div class="form-group container">
            <label for="departureTime">Departure Time</label>
            <input class="form-control" type="text" name="departureTime" id="departureTime" formControlName="departureTime">
        </div>
        <div class="form-group container">
            <label for="seats">Seats</label>
            <input class="form-control" type="text" name="seats" id="seats" formControlName="seats">
        </div>
        <div class="form-group container">
            <label for="avaiableSeats">AvaiableSeats</label>
            <input class="form-control" type="text" name="avaiableSeats" id="avaiableSeats" formControlName="avaiableSeats">
        </div>
        <!-- <div class="form-group container">
            <label for="price">Price</label>
            <input class="form-control" type="text" name="price" id="price" formControlName="price">
        </div> -->
        <div class="container">
       <input type="submit" value="Add Bus" class="btn btn-primary" style="width: 85px; ">
       </div>    
    </form>
    <hr>
    <table class="table table-bordered">
        <tr *ngIf="buses.length > 0">
            <th>Bus id</th>
            <th>Bus name</th>
            <th>Driver Name</th>
            <th>BusType</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Seats</th>
            <th>AvaiableSeats</th>
            <!-- <th>Price</th> -->
        </tr>
        <tr *ngFor="let bus of buses">
            <td>{{bus.busid}}</td>
            <td>{{bus.busname}}</td>
            <td>{{bus.driverName}}</td>
            <td>{{bus.busType}}</td>
            <td>{{bus.arrivalTime}}</td>
            <td>{{bus.departureTime}}</td>
            <td>{{bus.seats}}</td>
            <td>{{bus.avaiableSeats}}</td>
           
            <!-- <td>{{bus.price}}</td> -->
        </tr>
    </table>
    
