<!-- Nav Bar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../assets/images/travel.jpg" width="30" height="30" alt=""><i>&nbsp;Bus India</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Header part  -->
<header>
    <div class="p-5 text-center bg-image" style="
          background-image: url('../../assets/images/buss.png');
          height: 500px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;">

        <div class="text-light">
            <h1 class="mb-3">Travel with us</h1>
            <h4 class="mb-3">Log in for your Reservation </h4>

            <br><br>
            <a class="btn" routerLink="/adminlogin"> Open as Admin</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn" routerLink="/login">Open as User</a>
        </div>
    </div>
</header>


<!-- Footer -->

<footer class="bg-primary bg-dark text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Our Brand</h5>

                <p>
                    Here Our Bus Reservation System that designed to provide customers with a personalized
                    easy-to-utilize user experience for booking and purchasing tickets online. It stores customers'
                    personal data records, scheduled routes, frequent trips, drop points, and other information.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Company</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a routerLink="/about-us" class="text-white">About Us</a>
                    </li>
                    <li>
                        <a routerLink="/contactpage" class="text-white">Contact Us</a>
                    </li>
                    <li>
                        <a routerLink="./what-we-do" class="text-white">What We do</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Careers</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Services</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Bus Details</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Showing Route</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Reservationk</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Manage Booking</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">Team 5</a>
    </div>
    <!-- Copyright -->
</footer>