<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="navbar">
        <a  routerLink="/stratingpage"><i class="fa fa-fw fa-home"></i> Home</a>
        <a routerLink="/login"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>
    
    <header>
        <div class="p-5 text-center bg-image" style="
              background-image: url('../../assets/images/admin2.png');
              height: 500px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;">

            <div class="text-light">
                <h1 class="mb-3 text-dark" style="font-family: ABeeZee;">Travel with us</h1>

            </div>
        </div>
    </header>
    <br>
    <section>
        <div class="rowsec">
            <br><br>
            <h3 style="text-align: center;">What we Offer</h3>
            <div class="columnsec" style="text-align: left;">
                <p>A bus reservation system is a mobile or web software solution designed to provide customers with a
                    personalized easy-to-utilize user experience for booking and purchasing tickets online. It stores
                    customers' personal data records, scheduled routes, frequent trips, drop points, and other
                    information.</p>
            </div>
            <div class="columnsec" style="text-align: left;">
                <p>India's largest company for bus ticket booking, offers an easy-to-use online platform, thousands of
                    bus operators to choose from, and plenty of offers on bus ticket booking to make road journeys
                    super-convenient for travelers.</p>
                    <br>
                <button class="btn contact" routerLink="/contactpage">Contact Us</button>
            </div>
            <!-- <button onclick="myFunction()">Toggle dark mode</button>-->
        </div>
        <hr>
    </section>
    <br>
    <p style="text-align: center; font-family: 'ABeeZee';font-size: 30px;">Our Portfolio</p>
    <br>
    <div class="row">
        <div class="column" style="background-image: url(../../assets/images/we4.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;">
        </div>
        <div class="column" style="background-image: url(../../assets/images/we3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        </div>
        <div class="column" style="background-image: url(../../assets/images/we1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        </div>
        <div class="column" style="background-image: url(../../assets/images/we2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
        </div>
    </div>

    <br><br>


    <div class="footer">
    <p style="text-align: center;">Powered By Travel India</p>
    </div>

    <!-- <script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script> -->

</body>

</html>