<div class="alert alert-primary container">
    <h3>RouteList Form</h3>
</div>
<form [formGroup]="routelistForm" (ngSubmit)="saveRouteList()">
    <div class="form-group container">
        <div *ngIf="routelistForm.controls['routeId'].errors && 
        (routelistForm.controls['routeId'].touched || routelistForm.controls['routeId'].dirty)">
            Route Id is required
        </div>
        <label for="routeId">Route Id</label>
            <input class="form-control" [readonly]="isUpdate" type="text" name="routeId" id="routeId" formControlName="routeId">
    </div>
    <div class="form-group container">
        <div *ngIf="routelistForm.controls['routeFrom'].errors && 
                (routelistForm.controls['routeFrom'].touched || routelistForm.controls['routeFrom'].dirty)">
            Route From is required
        </div>
        <label for="routeFrom">Route From</label>
        <input class="form-control" type="text" name="routeFrom" id="routeFrom" formControlName="routeFrom" >
    </div>

    <div class="form-group container">
        <div *ngIf="routelistForm.controls['routeTo'].errors && 
                (routelistForm.controls['routeTo'].touched || routelistForm.controls['routeTo'].dirty)">
            Route To is required
        </div>
        <label for="routeTo">Route To</label>
        <input class="form-control" type="text" name="routeTo" id="routeTo" formControlName="routeTo" >
    </div>
    
    <div class="form-group container">
        <div *ngIf="routelistForm.controls['distance'].errors && 
                (routelistForm.controls['distance'].touched || routelistForm.controls['distance'].dirty)">
            Distance is required
        </div>
        <label for="distance">Distance</label>
        <input class="form-control" type="text" name="distance" id="distance" formControlName="distance" >
    </div>
    
   

    <input type="submit" value="Add Route" class="btn btn-primary" [disabled]="routelistForm.invalid" style="width: 95px;">
</form>
<hr>
<table class="table table-bordered">
    <tr *ngIf="routes.length > 0">
        <th>Route Id</th>
        <th>Route From</th>
        <th>Route To</th>
        <th>Distance</th>
       
    </tr>
    <tr *ngFor="let route of routes">
        <td>{{route.routeId}}</td>
        <td>{{route.routeFrom}}</td>
        <td>{{route.routeTo}}</td>
        <td>{{route.distance}}</td>
        
        <td><input type="button" (click)="deleteroute(route.routeId)" value="Delete" class="btn btn-primary"></td>
        <td><input type="button" (click)="Updateroute(route.routeId)"value="Update" class="btn btn-primary"></td>
    </tr>
    
</table>


