<div class=content>
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>Thank you for using our Bus Reservation Application. </p>
            <p>Hope you had a great experience. <br> Please let us know more about your experience through feedback. </p>
            <button class="go-home" routerLink="/userpage">go home</button>
        </div>
        <div class="footer-like">
            <p>
                <strong>Team 5</strong>
            </p>
        </div>
    </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">